<section id="banner" class="major">
        <!-- Banner -->
        <div class="inner">
            <header class="major">
                <h1>Hey 👋 I'm Jacopo!</h1>
            </header>
            <h3>I'm a data scientist with 4+ years of experience,<br/> 
            <a style="text-decoration: underline;" href="about_me.html">highly skilled</a> in machine learning, data visualization, and creative thinking.<br/> 
            <br />
            In my free time I travel <a style="text-decoration: underline;" href="#">around the world with my wife</a> and <a style="text-decoration: underline;" target="_blank" href="https://soundcloud.com/jacopoparvizi">make music</a>.<br/>
            <br />
            Follow me on <a style="text-decoration: underline;" href="https://twitter.com/mottiden" target="_blank">Twitter</a>, read <a style="text-decoration: underline;" href="articles.html" target="_blank">the Blog</a> or subscribe to the <a style="text-decoration: underline;" href="#section-newsletter">newsletter</a>.
            
        </div>
</section>