<!-- Contact -->
<section id="contact">
        <div class="inner">
            <section>
                <h2>Get in touch:</h2> 
                <form action="https://formspree.io/{{ site.email }}" method="POST">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="_replyto" id="email" />
                    </div>
                    <div class="field">
                            <label for="subject">Subject</label>
                            <input type="text" name="subject" id="subject" />
                        </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="special" /></li>
                        <li><input type="reset" value="Clear" /></li>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="image fit"><img src="assets/graphics/new_message.svg" alt=""></span>
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <a href="mailto:{{ site.email }}"><span class="icon alt fa-envelope"></span></a>
                        <a href="mailto:{{ site.email }}"><h3>Email</h3></a>
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-twitter"></span>
                        <a href="{{ site.twitter_url }}" target="_blank"><h3>Twitter</h3></a>
                        <a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a>
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-linkedin"></span>
                        <a href="{{ site.linkedin_url }}" target="_blank"><h3>LinkedIn</h3></a>
                        <a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a>
                    </div>
                </section>
            </section>
        </div>
    </section>