<section id="two" class="spotlights">
    <h2>Consulting Services:</h2>
    <section>
        <a href="contact_me.html" class="image">
            <img src="assets/graphics/innovation.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Dynamic visualization and data storytelling</h3>
                </header>
            <p class="services">I can help your business tell stories through data, working with modern tools to visualize it and make sense of what’s going on underneath.</p>
            </div>
        </div>
    </section>
    <section>
        <a href="contact_me.html" class="image">
            <img src="assets/graphics/building_website.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Building your data applications</h3>
                </header>
                <p class="services">From dashboards to web applications, I can build quickly and iteratively, working closely with your team to design data processing systems that test new ideas for your MVP or connect different data sources.</p>
            </div>
        </div>
    </section>
    <section>
        <a href="contact_me.html" class="image">
            <img src="assets/graphics/data_center.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Data pipelines</h3>
                </header>
                <p class="services">Data pipelines are a core component in a data-driven business.  
                A well functioning data pipeline means a healthy data product.
                I can help you build data pipelines that are Scalable, Interactive through the use of queries, Versioned, Monitored with alerts generation and soundly Tested.                
            </p>
            </div>
        </div>
    </section>
    <section>
        <a href="contact_me.html" class="image">
            <img src="assets/graphics/data_process.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Data processing</h3>
                </header>
                <p class="services">I can assist your business data mining using state-of-the-art methods, processing it, cleansing and verifying the integrity of data used for analysis. 
                    and setting up monitoring systems for anomaly detection.</p>
                <!--<ul class="actions">
                    <li><a href="contact_me.html" class="button big icon fa-briefcase">Contact me</a></li>
                </ul>-->
            </div>
        </div>
    </section>
    <section>
            <a href="contact_me.html" class="image">
                <img src="assets/graphics/problem_solving.svg" alt="" data-position="center center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Problem framing</h3>
                    </header>
                    <p class="services">
                        Framing a good predictive problem is a hard task. It is important to find problems that can be solved by the data at hand. 
                        Through problem framing sessions, we frame real world questions where data science can have an impact.
                        I can help your business make sense of its data, analysing it and understanding how it could be optimized by a model to produce measurable, real-world impact.
                    </p>
                </div>
            </div>
    </section>
    <section>
        <a href="contact_me.html" class="image">
            <img src="assets/graphics/analyze_market.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Predictive analytics</h3>
                </header>
                <p class="services">Using proven machine learning algorithms and mathematical analysis techniques I can help you carry out your mission more effectively. Overly complicated solutions can be hard to support, so I’ll find the most robust and maintainable approach to help you make better decisions.</p>
            </div>
        </div>
    </section>
    <section>
        <a href="contact_me.html" class="image">
            <img src="assets/graphics/mobile_phone.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Natural Language Processing</h3>
                </header>
                <p class="services">
                    NLP create tremendous opportunities for your business by measuring and understanding what your customers are searching.
                    Through the depth of data presented by NLP using 
                        <span style="font-weight: bold">Information Extraction</span>,
                        <span style="font-weight: bold">Text Summarization</span>,
                        <span style="font-weight: bold">Text labelling</span>, and
                        <span style="font-weight: bold">Sentiment analysis</span>,
                    you can get deeper insights about customer habits and tendencies.
                    Let's find out how Natural Language Processing can help your business.
                </p>
            </div>
        </div>
    </section>
    <section>
        <a href="contact_me.html" class="image">
            <img src="assets/graphics/video_call.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Image analysis</h3>
                </header>
                <p class="services">
                    Leveraging object recognition, image segmentation, image monitoring, your business can take advantage of image analysis systems to interpret unstructured data 
                    and gain useful information derived from data sources extracted from a single image or a sequence of images.
                    Let's find out how image analysis can help your business.
                </p>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image">
            <img src="assets/graphics/group_presentation.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Strategic planning</h3>
                </header>
            <p class="services">What are the opportunities hidden in your data? What concrete steps can your business take, now, to understand it? Do you have a clear understanding of the end-to-end data product?
                I can help your business understand these opportunities by providing the technical expertise and managing effectively your data science projects.</p>
            </div>
        </div>
    </section>
    <!--<section>
        <a href="#" class="image">
            <img src="assets/graphics/security.svg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>Secure data analytics</h3>
                    <ul class="actions">
                            <li><a href="contact_me.html" class="button big icon fa-briefcase">Contact me</a></li>
                    </ul>
                </header>
                <p></p>
            </div>
        </div>
    </section>-->  
    </section>