<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->

<!-- One -->
<section id="one">
	<div class="inner" style="text-align: center;text-transform: uppercase;text-decoration:aqua underline overline dashed; transform:rotate(-4deg);">
		<h1>{{ page.title }}</h1>	
		{% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
	</div>
	<div class="card">
		<div class="post">
			<p>{{ content }}</p>
		</div>	
	</div>
	<div class="inner">
		{% include newsletter.html %}
		{% include footer.html %}
	</div>
</section>

</div>
	
	
    

</body>

</html>